.container{
    border: 1px solid black;
    display: grid;
    width: 80%;
    height: 500px;
    padding: 5px;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 2fr 3fr 1fr 1fr 2fr 0.2fr;
    gap: 5px;
}

.container div {
    border: 1px solid red;
}
